SPOTIFY_CLIENT_ID=80bee691a6cc45caa939d32f909e166a
SPOTIFY_CLIENT_SECRET=a86762ab0f3e45c990224801df83de7c
PUBLIC_ORIGIN=https://ilovemusic-production.up.railway.app
SPOTIFY_API_KEY=spak_x866J8vA8DgHSK21oZT3uLOcFvWWbzxU
PORT=3000
SSE_REFRESH_MS=300000
